@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #cc0044;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #ff0055;
}

#column-2 {
  background: #ff6699;
}

#column-3 {
  background: #ffb3cc;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #4d0099;
  }

  .col-3 {
  width: 50%;
  }

  #column-1 {
    background-color: #9933ff;
  }

  #column-2 {
    background-color: #bf80ff;
  }

  #column-3 {
    background-color: #d9b3ff;
    width: 100%;
  }

  footer {
    background-color: #f2e6ff;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #339966;
  }

  .col-3 {
  width: 33.3%;
  }

  #column-1 {
    background-color: #53c68c;
  }

  #column-2 {
    background-color:#79d2a6;
  }

  #column-3 {
    background-color: #9fdfbf;
    width: 33.3%;
  }

  }

  footer {
    background-color: #d9f2e6;
  }
   
}
